.non_selectable{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  font-size: 16px !important;
  font-family: 'Roboto Condensed', sans-serif !important;
}

#layout{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

.version {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #a55;
  z-index: 1031;
  font-size: .8em;
}

#banner{
	height: 50px;
	width: 100%;
	position: absolute;
	top: 0;
	background: #016F84;
	text-align: center;
	background: url('../img/dream_bg1.png');
  background-size: auto 50px;
  /*border-bottom: 1px solid #016F84;*/
  /*box-shadow: 0 0 3px #016F84;*/
  box-shadow: 0 1px 5px #929292;
  z-index: 1;
}
#banner .title{
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #016F84;
  white-space: nowrap;
  text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF;
}
#banner .dream-l {
  background: url('../img/dream.png');
  background-size: 180px 50px;
  width: 180px;
  height: 50px;
  background-repeat-x: no-repeat;
  float: left;
}
#banner .dream-r {
  background: url('../img/dream.png');
  background-size: 180px 50px;
  width: 180px;
  height: 50px;
  background-repeat-x: no-repeat;
  float: right;
  -webkit-transform: scaleX(-1);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: #fafafa;
  z-index: 1;
  box-shadow: 0 -1px 5px #929292;
}
footer .btn-group[role="group"] > *{
  margin-left: 5px;
}
footer .status {
  line-height: 35px;
  font-size: .9em;

}
footer .status > span {
  padding-right: 5px;
}
footer .status .busy{
  opacity: 0;
}

// footer .status .busy.has-msg > span{
//   display: inline-block;
// }
// footer .status .busy.has-no-msg > span{
//   display: none;
// }
footer .right {
  float: right;
}
footer .dropdown-menu > li > a {
  padding-left: 20px!important;
}

// bookmarks
footer .bookmark .divider{
  margin: 2px 0;
}
footer .bookmark .dropdown-menu{
  padding: 2px;
}
footer .bookmark .dropdown-menu > li.prov .icon {
  color: #fdfdfd;
}
footer .bookmark .dropdown-menu > li.prov, footer .dropdown-menu > li.prov > a {
  background: #afd6a1;
}

footer .bookmark .dropdown-menu > li.city, footer .dropdown-menu > li.city > a {
  background: #eafbe4;
  color: #7f7f7f;
}

#ui-popup{
  position: fixed;
  z-index: 1600;
  overflow: visible;
  visibility: hidden;

  .search-box {
    font-size: .8em;
    padding: 5px;
    background: white;
    border-radius: 5px;
  }
  .search-box > span{
  	cursor: pointer;
  	display: block;
  	padding: 2px;
  }
  .search-box > span:hover{
    background: #b6d5fb !important;
  }
  .search-box > span:nth-child(even){
  	background: #e6f0ff
  }
  .search-box > span:last-child {
    border-radius: 0 0 5px 5px;
  }
  .search-box > span:not(:first-child){
  	margin-top:5px;
  }
  .search-box > span:first-child {
    border-radius: 5px 5px 0 0;
  }
}

.leaflet-control-attribution {
  display: none;
}

.btn-transparent {
  background: transparent;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0!important;
}

.search-community{
  width: 250px;
  display: inline-table!important;;
}

.cross-box{
  left: -32px!important;;
  top: -32px!important;;
  margin: 0px!important;;
  width: 64px!important;
  height: 64px!important;
  pointer-events: none;
}

.cross-box-label{
  width: 100px!important;
  margin-left: -20px!important;
  margin-top: 20px!important;
  pointer-events: none;
  white-space: nowrap;
  color: #b00;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 0px 0px #fff, -1px 0px 0px #fff, 0px 1px 0px #fff, 0px -1px 0px #fff, 1px 1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff, -1px -1px 0px #fff;
}

.ui-slider{
  margin-top: 4px;
}

.modal > div {
  max-width: 500px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%)!important;
}

@media (min-width: 992px) {
  .container {
    width: 100%!important;
    padding: 0!important;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%!important;
    padding: 0!important;
  }
}
