#content{
	top: 50px;
	bottom: 30px;
	width: 100%;
	position: absolute;
	background: gray;
}
#content .census-button{
	display: none;
	cursor: pointer;
	/*background: linear-gradient(top, #ffffff 0%, #d6d6d6 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #d6d6d6 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%,#d6d6d6 100%);*/

  background: linear-gradient(to bottom, #DAE9EF 0%, #75B0C5 100%);

  padding: 5px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  bottom: 100%;
	box-sizing: border-box;
  z-index: 1;
  text-shadow: 1px 1px 3px white;
  box-shadow: 0px 0px 2px #909090;
}
#content .census-button:hover{
	color: #840101;
}
/* init config */

#nav, #nav .tree-view + img{
	width: 390px;
}

#nav{
  z-index: 1;
	position: absolute;
	top: 0;
	bottom: 0;
/*	background: linear-gradient(top, #ffffff 0%, #d6d6d6 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #d6d6d6 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%,#d6d6d6 100%);*/
  background: #e7ebee; /* #e1e6ea; */
  /*border-radius: 5px 5px 0 0;*/
  /*color: #016F84;*/
  color: black;
  // font-weight: bold;
	font-size: .9em;
  box-shadow: 1px 1px 3px black;

  -webkit-transition: width 100ms linear;
-webkit-transition: width 100ms linear;
   -moz-transition: width 100ms linear;
     -o-transition: width 100ms linear;
        transition: width 100ms linear;


/* easeOutBack */

/*  -webkit-transition: width 100ms cubic-bezier(0.175, 0.885, 0.320, 1);
-webkit-transition: width 100ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
   -moz-transition: width 100ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
     -o-transition: width 100ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
        transition: width 100ms cubic-bezier(0.175, 0.885, 0.320, 1.275);*/
}
#nav .tab-box{
	width: 100%;
	z-index: 1;
	/*position: fixed;*/
}
#nav .tab{
	background: linear-gradient(to bottom, #ffffff 0%, #E5E9ED 100%);
  padding: 5px;
  /*border-radius: 0 5px 0 0;*/
	box-sizing: border-box;
  box-shadow: 0px 0px 2px #909090;
}
#nav .tab span:not(.fa){
	font-family: 'Droid Sans', sans-serif;
}
#nav .tab .search-button{
	cursor: pointer;
	color: gray;
	margin-left: 5px;
	font-size: .8em;
	display: inline-block;
}

#nav #search-tree{
	display: none;
	position: absolute;
	z-index: 1;
	padding: 5px;
  background: rgba(0,0,0,.7);
  /*border-radius: 5px;*/
}

#nav #search-tree .footnote{
	color: white;
	font-size: .8em;
	line-height: 1.5em;
	// font-family: 'Open Sans Condensed', sans-serif;
	display: block;
}
#nav .jstree-default .jstree-anchor{
	width: 100%;
}

#nav .tab .back-button{
	cursor: pointer;
	font-weight: normal;
	position: absolute;
	z-index: 1001;
	top: 0;
	right: 0;
	font-size: .8em;
	line-height: .8em;
	margin: .2em;
  border-radius: 5px;
	display: block;
	white-space: nowrap;
	padding: 5px;
	box-shadow: 0 0 4px black;
}
#nav .tab .search-button:hover, #nav .tab .back-button:hover{
	color: #840101;
}

#nav .tree-view-box{
	overflow: scroll;
	position: absolute;
	top: 60px;
	bottom: 0px;
  width: 100%;
}
#nav .tree-view{
	/*height: 100%;*/
	color: black;
  text-shadow: 1px 1px 3px white;
	margin-bottom: 20px;
}
#nav .tree-view + img{
	position: fixed;
	bottom: 30px;
	opacity: 1;
	z-index: -1;
	-webkit-filter: blur(2px) opacity(0.3);
	-moz-filter: blur(2px) opacity(0.3);
	-o-filter: blur(2px) opacity(0.3);
	filter: blur(2px) opacity(0.3);
}

#nav .jstree-anchor {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
#nav .jstree-anchor:hover {
	/*background-color: rgb(199,222,239);*/
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
#nav .jstree-anchor.data {
	// background-color: rgba(199,222,239,.5);
}
#nav .jstree-anchor.data:hover {
	background-color: rgb(199,222,239);
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
// #nav .jstree-anchor.data:after {
//   content: "DATA";
//   padding: 0 5px 0 20px;
//   color: #80AFD2;
//   text-shadow: none;
//   position: absolute;
//   right: 0;
// 	background-image: -linear-gradient(to right,rgba(199, 222, 239, 0.1) 0,rgba(199,222,239,1) 30%,#C7DEEF 100%);
// }

#nav .jstree-anchor.data:hover:after {
	color: white;
	// background-color: rgb(199,222,239);
}


#nav .jstree-default .jstree-hovered{
	color: #840101;
}
#nav-guide{
	height: 2em;
	line-height: 2em;
	padding-left: .5em;
  border-bottom: 1px dashed #55575B;
}
#nav-guide > div{
	display: inline-block;
  vertical-align: middle;
}
#nav-guide .break{
	margin: 0 2px;
	width: 1px;
	height: 1.2em;
	background-image: linear-gradient(to bottom,rgba(128, 128, 128, 0.2) 0,rgba(128, 128, 128, 1) 50%,rgba(128, 128, 128, 0.2) 100%);
}
#nav-guide > div:not(.break):hover{
	color: #840101;
}
#nav-guide > div:not(.break){
	cursor: pointer;
}
#nav-guide > div span {
  font-family: 'Droid Sans', sans-serif;
}
#basemap-switch{
	display: block;
	position: absolute;
	left: 100%;
	bottom: 15px;
	margin-left: 10px;
}
#basemap-switch > div:first-child{
  text-shadow: 0 1px 1px white, 0 -1px 1px white, 1px 0 1px white, -1px 0 1px white;
}
#basemap-switch img{
	width: 2em;
  border-radius: 3px;
  margin-right: 5px;
  box-shadow: 0 0 2px black;
}
#basemap-switch .dropdown-header{
	padding-left: 1em;
}
#basemap-switch .bootstrap-select.btn-group .dropdown-menu li a.opt{
	padding-left: 1.5em;
}