.DS_Store
node_modules
.sass-cache
builds/**/images/*
*.sql
*.tmp
builds/**/file/**/*.html
builds/**/file/**/*.pdf
builds/**/lib/cache/*
builds/development/fonts/*
builds/development/js/*
builds/development/css/*
builds/development/lib/PHPExcel/**/*
builds/development/docs/atlas.pdf
builds/development/docs/manual.md.html
builds/production/
